# Reproducible CI/test environment for Python 3.12.
# Regenerate deliberately after reviewing dependency updates.
amqp==5.3.1
anyio==4.14.2
asgiref==3.12.1
attrs==26.1.0
autobahn==26.7.1
Automat==25.4.16
billiard==4.2.4
boto3==1.43.61
botocore==1.43.61
cbor2==6.1.4
celery==5.6.3
certifi==2026.7.22
cffi==2.1.1
channels==4.3.2
channels_redis==4.3.0
chardet==7.6.0
charset-normalizer==3.4.9
click==8.3.3
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
clickhouse-connect==0.15.1
constantly==23.10.4
cryptography==50.0.1
daphne==4.2.3
defusedxml==0.7.1
Django==4.2.30
django-cors-headers==4.9.0
django-extensions==3.2.3
django-filter==24.3
django-redis==5.4.0
django-storages==1.14.6
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
drf-yasg==1.21.15
ffmpeg-python==0.2.0
filelock==4.0.5
flatbuffers==25.12.19
fsspec==2026.9.0
future==1.0.0
gunicorn==21.2.0
h11==0.16.0
hf-xet==1.6.0
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==0.36.2
hyperlink==21.0.0
idna==3.18
Incremental==24.11.0
inflection==0.5.1
jmespath==1.1.0
kombu==5.6.2
lz4==4.4.5
msgpack==1.2.2
neo4j==5.28.4
numpy==1.26.4
onnxruntime==1.30.0
packaging==26.2
pandas==2.3.3
phonenumbers==8.13.55
Pillow==10.4.0
prompt-toolkit==3.0.53
protobuf==7.36.2
psycopg==3.3.4
psycopg-binary==3.3.4
psycopg2-binary==2.9.12
pycparser==3.0
PyJWT==2.13.0
pyOpenSSL==26.4.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytz==2026.3.post1
PyYAML==6.0.3
redis==5.3.1
requests==2.34.2
s3transfer==0.19.2
sentry-sdk==1.45.1
service-identity==26.1.0
six==1.17.0
sqlparse==0.5.5
stripe==12.5.1
tqdm==4.70.1
Twisted==26.4.0
txaio==26.6.1
typing-extensions==4.15.0
tzdata==2026.3
tzlocal==5.4.4
ujson==6.0.0
uritemplate==4.2.0
urllib3==2.7.0
uvicorn==0.52.0
vine==5.1.0
wcwidth==0.8.2
websockets==15.0.1
zope.interface==8.6
zstandard==0.25.0

reportlab==4.2.5

pypdf==5.1.0

PyMuPDF==1.24.14
